<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="dynimgs">
  <input type="radio" name="dimage" id="img_1" /><label for="img_1">设置图片1</label> 
  <input type="radio" name="dimage" id="img_2" /><label for="img_2">设置图片2</label> 
  <input type="radio" name="dimage" id="img_3" /><label for="img_3">设置图片3</label> 
  <input type="radio" name="dimage" id="img_4" /><label for="img_4">设置图片4</label> 
</div>
<div>
<input type="text" id="href" style="width:400px;height:20px;border:dotted #f00 1px" /><span>指定链接</span> 
</div>
</body>
</html>