* {
 margin: 0;
 padding: 0;
} 
body { 
 text-align: left; 
 font-size:12px;
} 
#page { 
 margin: 0 auto; 
 width: 960px; 
 text-align: left; 
 background-color:#708090;

 height: 1050px;
} 
#menubar{
  position:absolute;
  bottom:0;
  width:100%;
  height:auto;
  /*
  background-color: ActiveCaption;
    */
  
}
#topbar{
  position: absolute;
  top: 0px;
  background-color:#ffd700;
  height: 45px;	
  width: 100%;

}
#header { 
 position:relative;
 height: 192px; 
 background-color:yellow;
} 
#contentprimary { 
 float: right; 
 width: 770px; 
 background-color: #87ceeb;
 height: 800px;
} 
#content-secondary { 
 margin:0;
 padding:0;
 position: relative;
 float: right; 
 width: 190px; 
 height: 800px;
 background-color:#add8e6;
} 
#myfriends{
  position: absolute;
  left: 7px;
  top: 10px; 
  height: 150px;	
  width: 170px;
}
#footer { 
 clear: right; 
 background-color:#eee8aa;
 height: 60px;
} 
.clear { 
 clear: both; 
}